.serial-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.serial-info__title {
    color: var(--Main-White, #FFF);    
    font-size: 40px;    
    font-weight: 700;
    line-height: normal;
}

.serial-info__items {
    padding-left: 0;
    margin-top: 0;
    display: grid;
    grid-template-columns: 417px 655px 263px;
}

.serial-info__item-title {
    color: var(--Main-White-30, rgba(255, 255, 255, 0.30));
    font-size: 28px;    
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding-bottom: 16px;
}

.serial-info__item-text {
    color: var(--Main-White, #FFF);    
    font-size: 28px;    
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding-bottom:25px ;
}