.recomendation {
    max-height: 800px;
    display: flex;
    justify-content: flex-end;
    font-family: "TT Norms Pro";
    line-height: normal;
    font-style: normal;
    font-weight: 500;
    color: var(--Main-White, #FFF);
}

.recomendation__container {
    position: absolute;
    top: 294px;
    left: 519px;
    text-align: center;
    width: 886px;
    height: 482px;
}

.recomendation__subtitle {
    text-align: center;
    font-size: 40px;
    margin-top: 36px;
    margin-bottom: 36px;
}

.recomendation__buttons {
    display: flex;
    column-gap: 24px;
    justify-content: center;

}

.recomendation__button-viewing {
    width: 243px;
    border-radius: 16px;
    font-size: 30px;
    text-align: center;
    background: var(--Gradient-Accent, linear-gradient(90deg, #6A11CB 0%, #2575FC 100%));
    border: none;
    color: white;
}

.recomendation__button-about {
    padding: 24px 32px 24px 32px;
    width: 243px;
    border-radius: 16px;
    font-size: 30px;
    text-align: center;
    background: var(--gradient-white-50, linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.13) 50%, rgba(255, 255, 255, 0.10) 100%));
    border: none;
    color: white;
}