.serial-page {
    background-color: #09090C;
    text-align: left;
    display: flex;
    position: relative;
    font-style: normal;
    flex-direction: column;
    font-family: "TT Norms Pro";
    margin-left: 4px;
}