.navtab{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #09090C;
    width: 54px;
    padding-left: 51px;
    padding-right: 98px;
}
.navtab__logo{
    padding-top: 32px;
    padding-bottom: 110px;
}
.navtab__container{
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    width: 54px;
    height: 464px;
    margin-bottom: 280px;
}